---
import MainLayout from '../layouts/main.astro'
import Title from '../components/PageTitle.astro'
---

<MainLayout title='about andrew'>
	<Title text='this is the about page' />
	<div class="m-3">
		<h3 class="pb-4 text-2xl">WHO IS ANDREW?</h3>
		<p>
			Greetings! I'm Andrew, a seasoned software engineer and web developer with over two decades of immersion in the ever-evolving tech landscape. Over the years, I've delved into an extensive array of languages—nearly 40—that have enriched my understanding and expertise across various platforms and frameworks. My forte lies in object-oriented programming, and I'm an advocate for the robustness of the model-view-controller (MVC) design paradigm. My toolkit includes a mastery of frameworks such as Laravel, Django, Rails, Symfony, and Spring, showcasing my adaptability and proficiency across diverse systems. As a full-stack developer, I bring to the table a wealth of experience encompassing the entire development life cycle, allowing me to craft dynamic solutions from inception to execution.
		</p>
	</div>
</MainLayout>
