---
import { Image } from 'astro:assets'
import port from '../images/me_icon.png'

const { text } = Astro.props;
---
<div class="bg-[#aaa] flex justify-between items-center border-b-black border-b-2 border-t-black border-t-2 p-2">
  <Image src={port} alt="port" class="w-20 h-20 rounded-full" />
  <h2>{text}</h2>
</div>
